{% extends "exams/base.html" %}

{% block content %}

    <div class="tab-content" id="v-nav-tab">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="v-nav-upsc-tab">
        {% for field in fields %}
        <div class=" p-3 mb-2 bg-light border text-white rounded shadow-sm">
            <div class="col-sm">
                <a href="{{field.get_url}}">{{field}}</a>
            </div>
        </div>
        {% endfor %}
        <br>
        {% if gate_syllabus is not None %}
            <table>
                <thead>
                    <tr>
                        <td>Field</td>
                        <td>Syllabus</td>
                    </tr>
                </thead>
                <tbody>
                    {% for s in gate_syllabus %}
                        <tr>
                            <td>{{s.gate_paper}}</td>
                            <td><a href='{{s.syllabus}}'>Click Here</a></td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
        
{% endblock content %}