{% extends "exams/base.html" %}

{% block content %}
    <h2>Previos Years Question Papers: Year {{year}}</h2><br>
        {% for k, l in category %}
            <br>
            {% if k.phase is not None %}
                <h3>{{k.phase}}</h3>
            {% endif %}
            <table>
                <tbody>
                {% for c in l %}
                    {% if c.category is not None %}
                        <tr>
                            <td>{{c.category}}</td> 
                            <td>{{c.subject}}</td>  
                            <td><a href="{{c.question_link}}">Click Here</a></td>
                        </tr>
                    {% else %}   
                        {% if c.answer_link is not None %}
                            <tr>
                                <td>{{c.subject}}</td>  
                                <td><a href="{{c.question_link}}">Click Here</a></td>
                                <td><a href="{{c.answer_link}}">Answer Key</a></td>
                            </tr>
                            
                        {% else %}
                            <tr>
                                <td>{{c.subject}}</td>  
                                <td><a href="{{c.question_link}}">Click Here</a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        

{% endblock content %}