{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MyPTU - Events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/forumstyle.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="head">         
            <div class="navbar">
                <nav class="forum-nav">
                    <ul class="logo">
                        <li>MyPTU <span style="color:#5f6368">Exams</span></li>
                    </ul>
                    <div class="res-nav">
                        <div class="l1"></div>
                        <div class="l2"></div>
                        <div class="l3"></div>
                    </div>
                    <ul class="nav-list">
                        <li class="nav-lnk">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'authenticate:logout' %}" method="POST">Logout</a>
                        {% else %}
                            <a href="{% url 'authenticate:login' %}?next={{ request.path }}" method="POST">Login</a>
                        {% endif %}
                        </li>
                        <li class="nav-lnk">
                            <a href="{% url 'workshops:workshop-list' %}">Workshops</a>
                        </li>
                        <li class="nav-lnk">
                            <a href="{% url 'authenticate:profilepage' request.user.id %}">Profile</a>
                        </li>
                        <li class="nav-lnk">
                            <a href="{% url 'authenticate:home' %}">Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Search Box-->
        <div class="search-box">

        <form action="#" method="GET">
    
            <select name="search-box" id="">
                <option value="title">Title</option>
                <option value="category">Category</option>
            </select>
            <input type="text"  class="main-search" name="keyword" id="" placeholder="Search">
            <div class="search-but">
                <button type="submit" name="search-sub"><i class="material-icons">search</i></button>
                <input type="text"  class="res-search" name="keyword-mob" id="" placeholder="Search">
            </div>
        </form>

        </div>

        {% block content %}
        
        {% endblock content %}


        <div class="footer">
        
        </div>
        
        <script src="{% static '/js/forum.js' %}" async defer></script>
    </body>
</html>