{% extends "workshops/base.html" %}

{% block content %}
    
        <div>
            {% for obj in page_obj %}
            <a href="{% url 'workshops:workshop' slug=obj.slug %}">
                {{obj.workshop_title}}
            </a> - {{ obj.category }}<br><br>
            {% endfor %}
        </div>
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
        </div>
        <div>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </div>

{% endblock content %}
