<!DOCTYPE html>
<html>
    <head>
        <title>MyPTU-Workshops</title>
    </head>
    <body>
        <div>
            {% for obj in page_obj %}
            {{obj.workshop_title}}<br>
            {% endfor %}
        </div>
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
        </div>
        <div>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </div>
    </body>
</html>
