{% extends "workshops/base.html" %}

{% block content %}

        <title>
            {{workshops.workshop_title}}
        </title>

        <div>
            {{workshops.workshop_title}}
        </div>
        <br>
        <div>
            Description: <br>
            {{workshops.description | safe}}
        </div>
        <br>
        <div>
            {% if Date %}
                Date:{{workshops.date}}
            {% endif %}
        </div>
        <br>
        <div>
            Price:{{workshops.price}}
        </div>

{% endblock content %}