<h1>Central Armed Police Forces(CAPF)</h1>
<h2>Exam overview:</h2>
<tbody>
		<tr>
			<th>Particulars</th>
			<th>Details</th>
		</tr>
		<tr>
			<td>Name of the exam</td>
			<td>Central Armed Police Forces (CAPF) Assistant Commandants (AC)</td>
		</tr>
		<tr>
			<td>Conducting Body</td>
			<td>Union Public Service Commission</td>
		</tr>
		<tr>
			<td>Selection</td>
			<td>Three Rounds</td>
		</tr>
		<tr>
			<td>First Round</td>
			<td>Written Test</td>
		</tr>
		<tr>
			<td>Second Round</td>
			<td>Physical ability test</td>
		</tr>
		<tr>
			<td>Third Round</td>
			<td>Interview/ Personality Test</td>
		</tr>
	</tbody>
</table>
<h2>CAPF AC Exam Pattern 2021: Written Test</h2>
<table><tbody>
		<tr>
			<th>Particulars</th>
			<th>Paper 1</th>
			<th>Paper 2</th>
		</tr>
		<tr>
			<td>Number of Questions</td>
			<td>200</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Type of Questions</td>
			<td>MCQ</td>
			<td>Descriptive</td>
		</tr>
		<tr>
			<td>Duration</td>
			<td>2 hours</td>
			<td>3 hours</td>
		</tr>
		<tr>
			<td>Total Marks</td>
			<td>250 marks</td>
			<td>200 marks</td>
		</tr>
	</tbody></table>
<h2>CAPF AC 2021 Syllabus of Paper 1</h2>
<table><tbody>
		<tr>
			<th>Subjects</th>
			<th>Topics</th>
		</tr>
		<tr>
			<td>General Ability</td>
			<td>Analogies, Arrangements, Problem Solving, Syllogisms, Spatial Orientation, Space Visualization, Analysis, Ranking, Arithmetical Reasoning, Decision Making, Visual Memory, Arithmetic Number Series, Figural Classification, Coding and Decoding, Relationship Concepts, Statement Conclusion, etc.</td>
		</tr>
		<tr>
			<td>Intelligence</td>
			<td>General Mental Ability, General Science, Current Events of National and International Importance, Indian Polity and Economy, History of India, Indian and World Geography</td>
		</tr>
	</tbody></table>
<h2>CAPF AC 2021 Syllabus of Paper 2</h2>
<table><tbody>
		<tr>
			<th>Subjects</th>
			<th>Topics</th>
		</tr>
		<tr>
			<td>English Language and Comprehension and Essay</td>
			<td>Essay Writing, Comprehension, Precis Writing, Counter Argument, Communications, Report Writing, Language Skills, Grammar, Vocabulary, etc.</td>
		</tr>
		<tr>
			<td>General Studies</td>
			<td>History India, Current Events – National and International, Indian National Movement, Geography – India, About India, Eminent Personalities, Cultural Heritage, Environment, Economy, General Polity, General Science, Indian Constitution, Science and Technology etc.</td>
		</tr>
	</tbody></table>
<h2>CAPF AC Exam Pattern 2021: PET & Medical Standards Tests</h2>
<p> The candidates who clear the first round will be eligible for Stage 2 of the CAPF AC exam which will be a
	Physical Endurance and Medical Test.</p>
<h3>Standards:</h3>
<table>
	<tbody>
		<tr>
			<th>Particulars</th>
			<th>Male</th>
			<th>Female</th>
		</tr>
		<tr>
			<td>100 Meters Race</td>
			<td>In 16 seconds</td>
			<td>In 18 seconds</td>
		</tr>
		<tr>
			<td>800 Meters Race</td>
			<td>In 3 minutes 45 seconds</td>
			<td>In 4 minutes 45 seconds</td>
		</tr>
		<tr>
			<td>Long Jump</td>
			<td>3.5 Meters (3 Chances)</td>
			<td>3.0 meters (3 chances)</td>
		</tr>
		<tr>
			<td>Shot Put (7.26 Kgs.)</td>
			<td>4.5 Meters</td>
			<td>-</td>
		</tr>
	</tbody>
</table><p>This will be followed by the third round, which will be an interview and personality test. The final selection
	of candidates will be made on the basis of the overall performance in all three rounds.</br>
</p>
<div></br>
  <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>Central Armed Police Forces(ACs) Examination</td>
   <td><a href="../../../exams/datafiles/capf.pdf">Click here</a></td>
  </tr>
 </table>
</div>