<h1>Combined defence service examinations </h1>
<h2>Overview of CDS Exam Pattern</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <td>
    <strong>
     Particulars
    </strong>
   </td>
   <td>
    <strong>
     Details
    </strong>
   </td>
  </tr>
  <tr>
   <td>
    Mode of Exam
   </td>
   <td>
    Offline only
   </td>
  </tr>
  <tr>
   <td>
    Number of Questions asked
   </td>
   <td>
    300 MCQ Type
   </td>
  </tr>
  <tr>
   <td>
    Number of questions in OTA
   </td>
   <td>
    200 MCQ Type
   </td>
  </tr>
  <tr>
   <td>
    Maximum Marks
   </td>
   <td>
    300 ( Indian Military, Navy and Air Force) and 200 (Officers Training Academy)
   </td>
  </tr>
  <tr>
   <td>
    Duration of Exam
   </td>
   <td>
    2 hours (120 minutes) for each paper
   </td>
  </tr>
  <tr>
   <td>
    Medium
   </td>
   <td>
    Hindi or English
   </td>
  </tr>
  <tr>
   <td>
    Negative marking
   </td>
   <td>
    One-third marks deducted for every incorrect response
   </td>
  </tr>
 </tbody>
</table><h2>CDS Exam Pattern 2021 - Written Test</h2>
<h3>CDS Exam Pattern for For IMA, INA, AFA:</h3>
<table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    <strong>
     Subject
    </strong>
   </th>
   <th>
    <strong>
     Duration
    </strong>
   </th>
   <th>
    <strong>
     Maximum Marks
    </strong>
   </th>
  </tr>
  <tr>
   <td>
    <strong>
      English Language
    </strong>
   </td>
   <td>
    2 hrs
   </td>
   <td>
    100
   </td>
  </tr>
  <tr>
   <td>
    General Knowledge
   </td>
   <td>
    2 hrs
   </td>
   <td>
    100
   </td>
  </tr>
  <tr>
   <td>
    Elementary Mathematics
   </td>
   <td>
    2 hrs
   </td>
   <td>
    100
   </td>
  </tr>
 </tbody>
</table><h3>CDS Exam Pattern for OTA</h3><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    <strong>
     Subject
    </strong>
   </th>
   <th>
    <strong>
     Duration
    </strong>
   </th>
   <th>
    <strong>
     Maximum Marks
    </strong>
   </th>
  </tr>
  <tr>
   <td>
    English
   </td>
   <td>
    2 hrs
   </td>
   <td>
    100
   </td>
  </tr>
  <tr>
   <td>
    General Knowledge
   </td>
   <td>
    2 hrs
   </td>
   <td>
    100
   </td>
  </tr>
 </tbody>
</table>
<h2>CDS Exam Pattern 2021&nbsp;- Interview</h2>
<p>The selection of the candidates is on the basis of marks scored in the interviews. Total marks for the interview for
 Indian Military Academy, Naval Academy, and Air Force Academy is 300 marks, whereas 200 marks are allotted for
 interview of&nbsp;OTA.</p>

<p>SSB Interview will contain two stages i.e. Stage 1 and Stage 2. Candidates who qualify the stage 1
 exam will be called for stage 2.</p>
 <p><strong>Stage 1:&nbsp;</strong>It is an OIR (Officer Intelligence Rating) Test which contains Picture Perception
  and Description Test (PP &amp; DT). Candidates will be shortlisted as per their performance in the OIR Test
  and PP and DT.</p>

<p><strong>Stage 2:&nbsp;</strong>Candidates passing stage 1 will be called for this stage<strong>.&nbsp;</strong>
 This part consists of Group Testing Officer Tasks, Interview, Conference, and Psychology Test.
 These tests are organized in four days.</p>
<div></br>
 <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>Combined Defence Service Examinations</td>
   <td><a href="../../../exams/datafiles/cds.pdf">Click here</a></td>
  </tr>
 </table>
</div>