<h1>CISF AC(EXE) Examination</h1><h2>CISF AC (EXE) LDCE 2022 Overview</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Particulars
   </th>
   <th>
    Details
   </th>
  </tr>
  <tr>
   <td>
    Exam Name
   </td>
   <td>
    CISF Assistant Commandants (Executive) Limited Departmental Competitive Examination
   </td>
  </tr>
  <tr>
   <td>
    CISF Full Form
   </td>
   <td>
    Central Industrial Security Force
   </td>
  </tr>
  <tr>
   <td>
    Conducting Authority
   </td>
   <td>
    Union Public Service Commission (UPSC)
   </td>
  </tr>
  <tr>
   <td>
    Name of the Post
   </td>
   <td>
    Assistant Commandant (Executive)
   </td>
  </tr>
  <tr>
   <td>
    Frequency
   </td>
   <td>
    Annually
   </td>
  </tr>
  <tr>
   <td>
    Application mode
   </td>
   <td>
    Online &amp; Offline
   </td>
  </tr>
  <tr>
   <td>
    Exam Mode
   </td>
   <td>
    Offline
   </td>
  </tr>
  <tr>
   <td>
    Selection process
   </td>
   <td>
    <ul>
     <li>
      Written Examination
     </li>
     <li>
      Physical and Medical Standard Tests
     </li>
     <li>
      Personality/Interview Test
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    Official website
   </td>
   <td>
    <a href="http://www.upsc.gov.in" rel="nofollow" target="_blank">
     www.upsc.gov.in
    </a>
   </td>
  </tr>
 </tbody>
</table>
 <h2 id="eligibility">CISF AC (EXE) LDCE 2022 Eligibility Criteria</h2>

<p>The candidates must satisfy the eligibility criteria set by the Union Public Service Commission (UPSC) in order to
 apply for the CISF AC (EXE) LDCE Recruitment 2022. The eligibility criteria include nationality, educational
 qualifications, age criteria and Physical standards.</p>

<ul>
	<li>The candidate should be an Indian citizen to apply for the CISF Recruitment 2021.</li>
	<li>The candidate must have a graduate degree in any stream from a recognized university.</li>
</ul>

<p>The CISF AC (EXE) LDCE eligibility criteria are discussed below in detail:</p>

<h3 id="a_li">CISF AC (EXE) LDCE Eligibility: Age Criteria</h3>

<p>The candidate must not have attained the age of 35 years as of August 01, 2021, i.e, the candidate should not have
 been born before August 02, 1986. However, if a candidate belongs to a Scheduled Caste or a Scheduled Tribe, the upper
 age limit prescribed above shall be relaxable up to a maximum of five years.</p>

<h3 id="service">CISF AC (EXE) LDCE Eligibility: Service Requirements</h3>

<p>The candidates must have completed 4 years of regular service in the rank of Inspector (GD) or Sub-Inspector (GD)
 including the basic training period in order to apply for this position. The candidates also must have a clean
 service report till the issue of the offer of appointment.</p>

<h3 id="noa">CISF AC (EXE) LDCE Eligibility: Number of Attempts</h3>

<p>Every eligible candidate gets a maximum of three attempts at the CISF AC (EXE) LDCE 2021 exam.</p>

<h3 id="physical">CISF AC (EXE) LDCE Eligibility: Physical Standards</h3>

<p>In order to apply for the CISF AC (EXE) LDCE 2021 exam, the candidate must meet the prescribed Physical and Medical
 Standards.</p>
<h2>CISF AC (EXE) LDCE 2022 Physical and Medical Standards</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Parameters
   </th>
   <th>
    Men
   </th>
   <th>
    Women
   </th>
  </tr>
  <tr>
   <td rowspan="2">
    Height
   </td>
   <td>
    165 Cm (General &amp; SC)
   </td>
   <td>
    157 Cms (General &amp; SC)
   </td>
  </tr>
  <tr>
   <td>
    162.5 Cm (ST)
   </td>
   <td>
    154 Cm (ST)
   </td>
  </tr>
  <tr>
   <td>
    Chest (Unexpanded)
   </td>
   <td>
    81 Cm (With minimum 5 Cm expansion)
   </td>
   <td>
    Not Applicable
   </td>
  </tr>
  <tr>
   <td>
    Weight
   </td>
   <td>
    Corresponding to Height
   </td>
   <td>
    Corresponding to Height
   </td>
  </tr>
  <tr>
   <td>
    Medical
   </td>
   <td>
    Shape-1
   </td>
   <td>
    Shape-1
   </td>
  </tr>
 </tbody>
</table><h2>CISF AC (EXE) LDCE 2022 Paper 1 Exam Pattern</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Part
   </th>
   <th>
    Topics
   </th>
   <th>
    Number of Questions
   </th>
   <th>
    Total Marks
   </th>
   <th>
    Duration
   </th>
  </tr>
  <tr>
   <td>
    Part-A
   </td>
   <td>
    General Ability and Intelligence
   </td>
   <td>
    75 Questions
   </td>
   <td>
    150 Marks
   </td>
   <td>
    2.5 hours
   </td>
  </tr>
  <tr>
   <td>
    Part-B
   </td>
   <td>
    Professional Skills
   </td>
   <td>
    75 Questions
   </td>
   <td>
    150 Marks
   </td>
  </tr>
 </tbody>
</table><h2>CISF AC (EXE) LDCE 2022 Paper 2 Exam Pattern</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Part
   </th>
   <th>
    Topics
   </th>
   <th>
    Medium
   </th>
   <th>
    Duration
   </th>
   <th>
    Total Marks
   </th>
  </tr>
  <tr>
   <td>
    Part A
   </td>
   <td>
    Essay
   </td>
   <td>
    English and Hindi
   </td>
   <td rowspan="2">
    2 Hours
   </td>
   <td rowspan="2">
    100 marks
   </td>
  </tr>
  <tr>
   <td>
    Part B
   </td>
   <td>
    Comprehension &amp; Precise Writing
   </td>
   <td>
    English
   </td>
  </tr>
 </tbody>
</table><h2>CISF AC (EXE) LDCE Syllabus 2022</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Part
   </th>
   <th>
    Section
   </th>
   <th>
    Syllabus
   </th>
  </tr>
  <tr>
   <td rowspan="4">
    Part-A: General Ability and Intelligence
   </td>
   <td>
    General Mental Ability
   </td>
   <td>
    The questions will be designed to test logical reasoning, quantitative aptitude including numerical ability and data interpretation.
   </td>
  </tr>
  <tr>
   <td>
    General Science
   </td>
   <td>
    The questions will be set to test general awareness, scientific temper, comprehension and appreciation of scientific phenomena of everyday observation including new areas of importance like Information Technology, Biotechnology and Environmental Science.
   </td>
  </tr>
  <tr>
   <td>
    Current Events of National and International Importance
   </td>
   <td>
    The questions will test the candidates’ awareness of current events of national and international importance in the broad areas of culture, music, arts, literature, sports, governance, societal and developmental issues, industry, business, globalisation and the interplay among nations.
   </td>
  </tr>
  <tr>
   <td>
    General Awareness
   </td>
   <td>
    The questions shall aim to test candidates’ general awareness and would inter-alia include questions to test basic knowledge of the history of India, Indian and World Geography as well as Indian Polity and Economy.
   </td>
  </tr>
  <tr>
   <td rowspan="4">
    Part-B: Professional Skill
   </td>
   <td>
    CISF related professional skills
   </td>
   <td>
    <ul>
     <li>
      Industrial Security
     </li>
     <li>
      Industrial Safety and fire fighting
     </li>
     <li>
      Disaster Management
     </li>
     <li>
      Aviation Security
     </li>
     <li>
      Crime and Intelligence-Espionage, Sabotage, Subversion
     </li>
     <li>
      Perimeter Security
     </li>
     <li>
      Security of vital installations-DAE, Metro Rail, Space
     </li>
     <li>
      Use of Technical Gadgets-Alarm, detection, intrusion, Access control, fire safety
     </li>
     <li>
      Bomb disposal
     </li>
     <li>
      VIP Security
     </li>
     <li>
      Internal Security and Election duties
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    Law
   </td>
   <td>
    <ul>
     <li>
      Cr. PC (Search, Seizure and unlawful assembly)
     </li>
     <li>
      IPC (Theft, mischief, breach of trust, corruption etc.)
     </li>
     <li>
      Evidence Act (Search, seizure &amp; collection of evidence)
     </li>
     <li>
      Labour Laws (Industrial Disputes Act, Workmen Compensation Act, EPF Act.)
     </li>
     <li>
      Other Criminal Offences.
     </li>
     <li>
      Human Rights.
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    Computer Skills and Awareness
   </td>
   <td>
    <ul>
     <li>
      Computer Security
     </li>
     <li>
      Basic computer operations
     </li>
     <li>
      Basic hardware and software
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    Service Rules and HR matters
   </td>
   <td>
    <ul>
     <li>
      CCA Rules
     </li>
     <li>
      CISF Act and Rules
     </li>
     <li>
      HR functions related to CISF
     </li>
    </ul>
   </td>
  </tr>
 </tbody>
</table><h2>CISF AC (EXE) LDCE 2022 Selection: Phase-II</h2>
<h3>1.Physical Efficiency Test (PET)</h3>
<table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Physical Efficiency Test (PET)
   </th>
   <th>
    Male
   </th>
   <th>
    Female
   </th>
  </tr>
  <tr>
   <td>
    100 metres race
   </td>
   <td>
    In 16 seconds
   </td>
   <td>
    In 18 seconds
   </td>
  </tr>
  <tr>
   <td>
    800 meters race
   </td>
   <td>
    In 3 minutes 45 seconds
   </td>
   <td>
    In 4 minutes 45 seconds
   </td>
  </tr>
  <tr>
   <td>
    Long jump
   </td>
   <td>
    3.5 metres (3 chances)
   </td>
   <td>
    3.0 metres (3 chances)
   </td>
  </tr>
  <tr>
   <td>
    Shot put (7.26 kgs)
   </td>
   <td>
    4.5 metres
   </td>
   <td>
    _
   </td>
  </tr>
 </tbody>
</table>
 <h3>2.Medical Standard Test</h3>
<div>
 The candidates should meet some of the prescribed medical standards to be eligible for the post of Assistant
 Commandant. The medical standard test will include the examination of the following body parts or organs:
 <ul>
  <li>Eyesight</li>
  <li>Carrying Angle</li>
  <li>Ear</li>
  <li>Nose</li>
  <li>General medical and Speech Standards</li>
 </ul>
</div>
<h2>CISF AC (EXE) LDCE 2022 Selection: Phase-III</h2>
<div>
 The candidates who will clear the physical and medical tests will be called for an Interview or Personality Test.
 The selected candidates will be then called for the document verification process.
 </br>
</div>
<div>
 </br>
  <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>CISF AC(EXE) Examination</td>
   <td><a href="../../../exams/datafiles/cisf.pdf">Click here</a></td>
  </tr>
 </table>
</div>