<h1>Combined Medical Service Examination</h1><h2>UPSC CMS 2021 Exam Pattern:</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Stage of Exam
   </th>
   <th>
    UPSC CMS Exam
   </th>
   <th>
    Marks
   </th>
  </tr>
  <tr>
   <td>
    Stage I
   </td>
   <td>
    Written Exam (Paper-I &amp; Paper-II)
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    Stage II
   </td>
   <td>
    Interview
   </td>
   <td>
    100
   </td>
  </tr>
  <tr>
   <td>
    -
   </td>
   <td>
    Total Marks
   </td>
   <td>
    600
   </td>
  </tr>
 </tbody>
</table>
<h2>Exam Pattern of Paper-I</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Subject
   </th>
   <th>
    No. of Questions
   </th>
   <th>
    Total Marks
   </th>
   <th>
    Duration
   </th>
  </tr>
  <tr>
   <td>
    General Medicine
   </td>
   <td>
    96
   </td>
   <td rowspan="3">
    250 Marks
   </td>
   <td rowspan="3">
    2 Hours
   </td>
  </tr>
  <tr>
   <td>
    Pediatrics
   </td>
   <td>
    24
   </td>
  </tr>
  <tr>
   <td>
    Total
   </td>
   <td>
    120
   </td>
  </tr>
 </tbody>
</table>
<h2>Exam Pattern of Paper-II</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Subject
   </th>
   <th>
    No. of Questions
   </th>
   <th>
    Total Marks
   </th>
   <th>
    Duration
   </th>
  </tr>
  <tr>
   <td>
    Surgery
   </td>
   <td>
    40
   </td>
   <td rowspan="4">
    250 Marks
   </td>
   <td rowspan="4">
    2 Hours
   </td>
  </tr>
  <tr>
   <td>
    Gynaecology and obstetrics
   </td>
   <td>
    40
   </td>
  </tr>
  <tr>
   <td>
    Preventive and Social Medicine
   </td>
   <td>
    40
   </td>
  </tr>
  <tr>
   <td>
    Total
   </td>
   <td>
    120
   </td>
  </tr>
 </tbody>
</table>
<div>
 <h2>UPSC CMS 2021 Exam Pattern of Personality Test: Part II</h2>
 <ul>
  <li>The candidates who will qualify for the Part I CBT examination, are eligible for the Part II examination.
The Part II examination is the Personality Test.</li>
  <li>The Personality/Interview Test will be for 100 marks which will be taken by the UPSC Officials.</li>
  <li>The interview/personality test will be intended to serve as a supplement to the computer-based examination for testing
 the General knowledge and field of study of the candidate in the academics and also the officials test the Capability
 of leadership, initiative, character, alertness, Ability for social cohesion, Balance of judgment and candidates
 intellectual curiosity.</li>
 </ul>
</div>
<div></br>
  <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>Combined Medical Service Examination</td>
   <td><a href="../../../exams/datafiles/cms.pdf">Click here</a></td>
  </tr>
 </table>
</div>