<h1>Indian Administrative Service Examinations</h1><h2>IAS 2021 Exam Pattern Overview:</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Particulars
   </th>
   <th>
    Details
   </th>
  </tr>
  <tr>
   <td>
    Name of the exam
   </td>
   <td>
    Civil Services Exam- IAS
   </td>
  </tr>
  <tr>
   <td>
    Conducting authority
   </td>
   <td>
    Union Public Service Commission
   </td>
  </tr>
  <tr>
   <td>
    Mode of Exam
   </td>
   <td>
    Offline
   </td>
  </tr>
  <tr>
   <td>
    Number of Stages
   </td>
   <td>
    <p>
     Prelims exam
    </p>
    <p>
     Mains exam
    </p>
    <p>
     Interview
    </p>
   </td>
  </tr>
  <tr>
   <td>
    Number of papers
   </td>
   <td>
    <p>
     Prelims: 2
    </p>
    <p>
     Mains: 9
    </p>
   </td>
  </tr>
  <tr>
   <td>
    Prelims marking scheme
   </td>
   <td>
    <p>
     Paper 1: +2 marks
    </p>
    <p>
     Paper 2: +2.5 marks
    </p>
    <p>
     Negative marking: One-third of marks allotted to each question
    </p>
   </td>
  </tr>
  <tr>
   <td rowspan="2">
    Duration
   </td>
   <td>
    Prelims: 2 hours (Each paper)
   </td>
  </tr>
  <tr>
   <td>
    Mains: 3 hours (Each paper)
   </td>
  </tr>
  <tr>
   <td rowspan="2">
    Type of questions
   </td>
   <td>
    Prelims: Objective type
   </td>
  </tr>
  <tr>
   <td>
    Mains: Subjective type
   </td>
  </tr>
  <tr>
   <td>
    Post
   </td>
   <td>
    1000 (Tentative)
   </td>
  </tr>
 </tbody>
</table><h2>IAS Prelims Exam Pattern</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Particulars
   </th>
   <th>
    Details
   </th>
  </tr>
  <tr>
   <td>
    Exam Mode
   </td>
   <td>
    Offline
   </td>
  </tr>
  <tr>
   <td>
    Number of Papers
   </td>
   <td>
    2- General Studies(GS) and Civil Service Aptitude Test (CSAT)
   </td>
  </tr>
  <tr>
   <td>
    Number of Questions
   </td>
   <td>
    <p>
     Paper 1- 100;
    </p>
    <p>
     Paper 2- 80
    </p>
   </td>
  </tr>
  <tr>
   <td>
    Question Paper Type
   </td>
   <td>
    Multiple Choice Questions
   </td>
  </tr>
  <tr>
   <td>
    IAS Prelims Total Marks
   </td>
   <td>
    400
   </td>
  </tr>
  <tr>
   <td>
    Nature of Exam
   </td>
   <td>
    Qualifying
   </td>
  </tr>
  <tr>
   <td>
    Exam Duration
   </td>
   <td>
    2 hours each (only blind aspirants will get additional 20 minutes)
   </td>
  </tr>
  <tr>
   <td>
    Exam Language
   </td>
   <td>
    English and Hindi
   </td>
  </tr>
 </tbody>
</table><h2>IAS Exam Pattern for Mains</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Title of the Paper
   </th>
   <th>
    Marks Allotted
   </th>
  </tr>
  <tr>
   <td>
    Essay writing
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    General Studies I (Indian Heritage and Culture, History, and Geography of the World and Society)
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    General Studies II (Governance, Constitution, Polity, Social Justice and International relations)
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    General Studies III (Technology, Economic Development, Bio‐diversity, Environment, Security and Disaster Management)
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    General Studies IV (Ethics, Integrity, and Aptitude)
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    Optional Subject Paper 1
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    Optional Subject Paper 2
   </td>
   <td>
    250 Marks
   </td>
  </tr>
  <tr>
   <td>
    Sub Total in the written Test
   </td>
   <td>
    1750 Marks
   </td>
  </tr>
  <tr>
   <td>
    Personal Interview
   </td>
   <td>
    275 Marks
   </td>
  </tr>
  <tr>
   <td>
    Grand Total
   </td>
   <td>
    2025 Marks
   </td>
  </tr>
 </tbody>
</table>
<h2>IAS Exam Pattern for Personality Test:</h2>
<div>
 <ul>
  <li>All candidates who secure the cutoff marks in the Mains will proceed towards the Personality Test.</li>
  <Li>The cutoff marks depend upon several factors like the difficulty level of the exam, number of candidates,
   and number of IAS vacancies.</Li>
  <Li>This would include the Psychometric Test, Assessment Test as well as Personal Interview.</Li>
  <li>The objective of the interview is to assess the personal suitability of the candidate for a career in public
   service by a Board of competent and unbiased observers. The candidate will be asked questions on matters of
   general interest.</li>
  <li>The test is intended to judge the mental calibre of a candidate.</li>
  <li>In broad terms, this is an assessment of not only the candidate’s intellectual qualities but also his social
  traits and his interest in current affairs.</li>
 </ul>
</div>
<div>
 <br>
 <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>Indian Administrative Service Examination</td>
   <td><a href="/static/files/civil_service.pdf">Click here</a></td>
  </tr>
 </table>

</div>