<h1>Indian Economic Service\Indian Statistical Service</h1><h2>UPSC IES/ISS  Overview:</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    IES ISS Details
   </th>
   <th>
    IES ISS Particulars
   </th>
  </tr>
  <tr>
   <td>
    Name of exam
   </td>
   <td>
    Indian Economic Services (IES)/Indian Statistical Services (ISS)
   </td>
  </tr>
  <tr>
   <td>
    Conducting body/organization
   </td>
   <td>
    Union Public Service Commission (UPSC)
   </td>
  </tr>
  <tr>
   <td>
    Frequency of Exam
   </td>
   <td>
    Once in a year
   </td>
  </tr>
  <tr>
   <td>
    Type of exam
   </td>
   <td>
    Government
   </td>
  </tr>
  <tr>
   <td>
    Mode of exam
   </td>
   <td>
    National
   </td>
  </tr>
  <tr>
   <td>
    Mode of exam
   </td>
   <td>
    Offline
   </td>
  </tr>
  <tr>
   <td>
    Number of Attempts
   </td>
   <td>
    6
   </td>
  </tr>
  <tr>
   <td>
    Stages of exam
   </td>
   <td>
    <ul>
     <li>
      Written exam
     </li>
     <li>
      Physical interview
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    Mode of Application Form
   </td>
   <td>
    Online
   </td>
  </tr>
  <tr>
   <td>
    Application Fees
   </td>
   <td>
    INR 200
   </td>
  </tr>
  <tr>
   <td>
    Language of exam
   </td>
   <td>
    English
   </td>
  </tr>
  <tr>
   <td>
    Official website
   </td>
   <td>
    <a href="https://www.upsc.gov.in/" rel="nofollow" target="_blank">
     https://www.upsc.gov.in/
    </a>
   </td>
  </tr>
 </tbody>
</table><h2>Indian Economic Services (IES) Exam Pattern:</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Subjects
   </th>
   <th>
    Total marks
   </th>
   <th>
    Duration
   </th>
  </tr>
  <tr>
   <td>
    General English
   </td>
   <td>
    100
   </td>
   <td>
    3 hours
   </td>
  </tr>
  <tr>
   <td>
    General Studies
   </td>
   <td>
    100
   </td>
   <td>
    3 hours
   </td>
  </tr>
  <tr>
   <td>
    General Economics 1
   </td>
   <td>
    200
   </td>
   <td>
    3 hours
   </td>
  </tr>
  <tr>
   <td>
    General Economics 2
   </td>
   <td>
    200
   </td>
   <td>
    3 hours
   </td>
  </tr>
  <tr>
   <td>
    General Economics 3
   </td>
   <td>
    200
   </td>
   <td>
    3
   </td>
  </tr>
  <tr>
   <td>
    Indian Economics
   </td>
   <td>
    200
   </td>
   <td>
    3
   </td>
  </tr>
 </tbody>
</table><h2>Indian Statistical Services (ISS) Exam Pattern</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Subjects
   </th>
   <th>
    Total marks
   </th>
   <th>
    Duration
   </th>
  </tr>
  <tr>
   <td>
    General English
   </td>
   <td>
    100
   </td>
   <td>
    3
   </td>
  </tr>
  <tr>
   <td>
    General Studies
   </td>
   <td>
    100
   </td>
   <td>
    3
   </td>
  </tr>
  <tr>
   <td>
    Statistics 1
   </td>
   <td>
    200
   </td>
   <td>
    2
   </td>
  </tr>
  <tr>
   <td>
    Statistics 2
   </td>
   <td>
    200
   </td>
   <td>
    2
   </td>
  </tr>
  <tr>
   <td>
    Statistics 3
   </td>
   <td>
    200
   </td>
   <td>
    3
   </td>
  </tr>
  <tr>
   <td>
    Statistics 4
   </td>
   <td>
    200
   </td>
   <td>
    3
   </td>
  </tr>
 </tbody>
</table><h2>Indian Economic Services (IES) Syllabus:</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Subjects
   </th>
   <th>
    Topics
   </th>
  </tr>
  <tr>
   <td>
    General English
   </td>
   <td>
    Essay writing, Understanding of the language, Workman-like use, Passages
   </td>
  </tr>
  <tr>
   <td>
    General Studies
   </td>
   <td>
    General knowledge, Current affairs, Indian Polity, Political system and the Constitution of India, History of India, and Geography
   </td>
  </tr>
  <tr>
   <td>
    General Economics 1
   </td>
   <td>
    Part A:
    <ul>
     <li>
      Theory of Consumer’s Demand
     </li>
     <li>
      Theory of Production
     </li>
     <li>
      Theory of Value
     </li>
     <li>
      Theory of Distribution
     </li>
     <li>
      Welfare Economics
     </li>
    </ul>
    Part B:
    <ul>
     <li>
      Mathematical Methods in Economics
     </li>
     <li>
      Statistical and Econometric Methods
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    General Economics 2
   </td>
   <td>
    <ul>
     <li>
      Economic Thought
     </li>
     <li>
      Concept of National Income and Social Accounting
     </li>
     <li>
      Theory of employment, Output, Inflation, Money, and Finance
     </li>
     <li>
      Financial and Capital Market
     </li>
     <li>
      Economic Growth and Development
     </li>
     <li>
      International Economics
     </li>
     <li>
      Balance of Payments
     </li>
     <li>
      Global Institutions
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    General Economics 3
   </td>
   <td>
    <ul>
     <li>
      Public Finance
     </li>
     <li>
      Environmental Economics
     </li>
     <li>
      Industrial Economics
     </li>
     <li>
      State, Market, and Planning
     </li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    Indian Economics
   </td>
   <td>
    <ul>
     <li>
      History of development and planning
     </li>
     <li>
      Federal Finance
     </li>
     <li>
      Budgeting and Fiscal Policy
     </li>
     <li>
      Poverty, Unemployment and Human Development
     </li>
     <li>
      Agriculture and Rural Development Strategies
     </li>
     <li>
      Industry
     </li>
     <li>
      Labour
     </li>
     <li>
      Foreign trade
     </li>
     <li>
      Money and Banking
     </li>
     <li>
      Inflation
     </li>
    </ul>
   </td>
  </tr>
 </tbody>
</table><h2>Indian Statistical Services (ISS) Syllabus 2022:</h2><table class="table table-striped style_table">
 <tbody>
  <tr>
   <th>
    Subjects
   </th>
   <th>
    Topics
   </th>
  </tr>
  <tr>
   <td>
    General English
   </td>
   <td>
    Essay writing, Understanding of the language, Workman-like use, and Passages
   </td>
  </tr>
  <tr>
   <td>
    General Studies
   </td>
   <td>
    General knowledge, Current affairs, Indian Polity, Political system and the Constitution of India, History of India, and Geography
   </td>
  </tr>
  <tr>
   <td>
    Statistics 1
   </td>
   <td>
    Probability, Statistical Methods, Numerical Analysis, Computer application, and Data Processing.
   </td>
  </tr>
  <tr>
   <td>
    Statistics 2
   </td>
   <td>
    Linear Models, Statistical Inference and Hypothesis Testing, and Official Statistics
   </td>
  </tr>
  <tr>
   <td>
    Statistics 3
   </td>
   <td>
    Sampling Techniques, Econometrics, and Applied Statistics
   </td>
  </tr>
  <tr>
   <td>
    Statistics 4
   </td>
   <td>
    <ul>
     <li>
      Operations Research and Reliability
     </li>
     <li>
      Demography and Vital Statistics
     </li>
     <li>
      Survival Analysis and Clinical Trial
     </li>
     <li>
      Quality Control
     </li>
     <li>
      Multivariate Analysis
     </li>
     <li>
      Design and Analysis of Experiments
     </li>
     <li>
      Computing with C and R
     </li>
    </ul>
   </td>
  </tr>
 </tbody>
</table>
<div>
 <h2>Stage-II for IES\ISS:</h2>
 <strong>
  The Stage-II is Viva voce or Interview of 200 marks
 </strong>
</div>
<div></br>
  <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>Indian Economic Service-Statistical Service Examinations</td>
   <td><a href="/static/files/ies_iss.pdf">Click here</a></td>
  </tr>
 </table>
</div>