<h1>Indian Engineering Service Examination</h1>

<h2>Stage-I(Preliminary/Stage-I) Examination :</h2><table border="0" cellpadding="0" cellspacing="0" style="width:605px;" width="605">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     <strong>
      Category-I Civil Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-I (General Studies and Engineering Aptitude)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     2 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     200
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-II (Civil Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      500
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2></h2><table border="0" cellpadding="0" cellspacing="0" style="width:605px;" width="605">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     <strong>
      Category-II Mechanical Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-I (General Studies and Engineering Aptitude)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     2 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     200
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-II (Mechanical Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      500
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2></h2><table border="0" cellpadding="0" cellspacing="0" style="width:605px;" width="605">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     <strong>
      Category-III Electrical Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-I (General Studies and Engineering Aptitude)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     2 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     200
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-II (Electrical Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      500
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2></h2><table border="0" cellpadding="0" cellspacing="0" style="width:605px;" width="605">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     <strong>
      Category-IV Electronics and Telecommunication Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-I (General Studies and Engineering Aptitude)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     2 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     200
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p>
     Paper-II (Electronics and Telecommunication Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:379px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      500
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2>Stage-II(Mains/Stage II) Examination :</h2>
<table border="0" cellpadding="0" cellspacing="0" style="width:605px;" width="605">
 <table border="0" cellpadding="0" cellspacing="0" style="width:609px;" width="609">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     <strong>
      Category-I Civil Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-I ( Civil Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-II (Civil Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      600
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2></h2><table border="0" cellpadding="0" cellspacing="0" style="width:609px;" width="609">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     <strong>
      Category-II Mechanical Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-I (Mechanical Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-II (Mechanical Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      600
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2></h2><table border="0" cellpadding="0" cellspacing="0" style="width:609px;" width="609">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     <strong>
      Category-III Electrical Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-I (Electrical Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-II (Electrical Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      600
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2></h2><table border="0" cellpadding="0" cellspacing="0" style="width:609px;" width="609">
 <tbody>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Subject
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     <strong>
      Duration
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      Max. Marks
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     <strong>
      Category-IV Electronics and Telecommunication Engineering
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-I (Electronics and Telecommunication Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs.
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p>
     Paper-II (Electronics and Telecommunication Engineering)
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
     3 hrs
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     300
    </p>
   </td>
  </tr>
  <tr>
   <td nowrap="nowrap" style="width:383px;height:20px;">
    <p align="center">
     <strong>
      Total
     </strong>
    </p>
   </td>
   <td nowrap="nowrap" style="width:100px;height:20px;">
    <p align="center">
    </p>
   </td>
   <td nowrap="nowrap" style="width:127px;height:20px;">
    <p align="center">
     <strong>
      600
     </strong>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<h2>Stage-III(Personality Test/StageIII) Examinations </h2>
 <table class="table table-bordered">
 <thead>
  <tr>
   <th scope="col">
    <strong>
     STAGE-III
    </strong>
   </th>
   <th scope="col">
    <strong>
     MARKS
    </strong>
   </th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td data-label="Name">
    Personality Test
   </td>
   <td data-label="Role">
    200
   </td>
  </tr>
  <tr>
   <td data-label="Name">
    <strong>
     STAGE-I+ STAGE-II+STAGE III
     </strong>
   </td>
   <td data-label="Role">
    1300
   </td>
  </tr>
 </tbody>
</table>
 <div></br>
  <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>Indian Engineering Service Examination</td>
   <td><a href="Notif-IESISS-2021-Engl-070421.pdf">Click here</a></td>
  </tr>
 </table>
</div>