<h1>National Defence Academy and Naval Academy Examination:</h1>
<h2 id="highlights">NDA Exam Pattern 2021&nbsp;Overview</h2>

<div class="table-responsive"><table class="table table-striped style_table">
	<tbody>
		<tr>
			<th><strong>Particulars</strong></th>
			<th><strong>Details&nbsp;</strong></th>
		</tr>
		<tr>
			<td>Exam Mode and Medium</td>
			<td>Offline (Pen Paper Based) in English and Hindi</td>
		</tr>
		<tr>
			<td>Number of sections</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Question Paper Type</td>
			<td>Objective or MCQ</td>
		</tr>
		<tr>
			<td>Total Number of Questions</td>
			<td>270 Questions (120 from Mathematics and 150 from General Ability Test)</td>
		</tr>
		<tr>
			<td>Total Marks for Entrance Test</td>
			<td>900 Marks (300 Marks for Mathematics and 600 Marks for General Ability Test)</td>
		</tr>
		<tr>
			<td>Exam duration</td>
			<td>2.30 hours (Each Section)</td>
		</tr>
	</tbody>
</table>
<h2>NDA Exam Pattern 2021 for Mathematics and General Ability Test</h2>
	<table>
	<tbody>
		<tr>
			<th>Subject</th>
			<th>Paper</th>
			<th>Total No of Questions</th>
			<th>Duration of Exam</th>
			<th>Maximum Marks</th>
		</tr>
		<tr>
			<td>Mathematics</td>
			<td>1</td>
			<td>120</td>
			<td>2 ½ Hours</td>
			<td>300</td>
		</tr>
		<tr>
			<td>General Ability Test</td>
			<td>2</td>
			<td>150</td>
			<td>2 ½ Hours</td>
			<td>600</td>
		</tr>
		<tr>
			<td>Total</td>
			<td>--</td>
			<td>270</td>
			<td>900</td>
			<td>--</td>
		</tr>
	</tbody>
	</table>
<h2>Marks Distribution for NDA GAT Written Test</h2>
	<table>
	<tbody>
		<tr>
			<th colspan="2" style="width: 502px;"><strong>Sections</strong></th>
			<th style="width: 189px;"><strong>Maximum marks</strong></th>
		</tr>
		<tr>
			<td colspan="2" style="width: 502px;">
			<p dir="ltr" class="js-invalid-para">Part A - English</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">200</p>
			</td>
		</tr>
		<tr>
			<td style="width: 223px;">
			<p dir="ltr" class="js-invalid-para">Part B - General Knowledge</p>
			</td>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">Physics</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">100</p>
			</td>
		</tr>
		<tr>
			<td rowspan="6" style="width: 223px;"></td>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">Chemistry</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">60</p>
			</td>
		</tr>
		<tr>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">General Science</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">40</p>
			</td>
		</tr>
		<tr>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">History, Freedom Movement, etc.</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">80</p>
			</td>
		</tr>
		<tr>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">Geography</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">80</p>
			</td>
		</tr>
		<tr>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">Current Events</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">40</p>
			</td>
		</tr>
		<tr>
			<td style="width: 279px;">
			<p dir="ltr" class="js-invalid-para">Total</p>
			</td>
			<td style="width: 189px;">
			<p dir="ltr" class="js-invalid-para">600</p>
			</td>
		</tr>
	</tbody>
	</table>
	<h2>NDA 2021 Marking Scheme</h2>
	<table>
		<tbody>
		<tr>
			<th>Particular&nbsp;</th>
			<th><strong>Mathematics</strong></th>
			<th><strong>GAT</strong></th>
		</tr>
		<tr>
			<td><strong>Total Questions</strong></td>
			<td>120</td>
			<td>150</td>
		</tr>
		<tr>
			<td><strong>Total Marks</strong></td>
			<td>300</td>
			<td>600</td>
		</tr>
		<tr>
			<td><strong>Marks allotted to each question</strong></td>
			<td>2.5</td>
			<td>4</td>
		</tr>
		<tr>
			<td><strong>Negative marking for each incorrect response</strong></td>
			<td>-0.83</td>
			<td>-1.33</td>
		</tr>
	</tbody>
	</table>
	<h2>NDA Exam Pattern: SSB Interview</h2>

<p>After qualifying for the NDA 2021&nbsp;entrance test, all candidates have to appear for NDA Interview. Details are as below:</p>
	<table>
	<tbody>
		<tr>
			<th>Second Round</th>
			<th>Duration</th>
			<th>Maximum Marks</th>
		</tr>
		<tr>
			<td>SSB Interview</td>
			<td>4-5 days</td>
			<td>900</td>
		</tr>
	</tbody>
</table>
	<h3>Interview Stages:</h3>
<table>
	<tbody>
		<tr>
			<th><strong>Stages</strong></th>
			<th colspan="2"><strong>Tests</strong></th>
		</tr>
		<tr>
			<td><strong>Stage-I</strong></td>
			<td>Screening Test</td>
			<td>
			<ul>
				<li>Verbal and non-verbal tests.</li>
				<li>PPDT</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td rowspan="4"><strong>Stage-II</strong></td>
			<td>Psychological Test</td>
			<td>
			<ul>
				<li>Thematic Apperception Test (TAT)</li>
				<li>Word Association Test (WAT)</li>
				<li>Situation Reaction Test (SRT)</li>
				<li>Self Description Test (SD)</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>Group Testing Officers Test</td>
			<td>
			<ul>
				<li>GD</li>
				<li>GPE</li>
				<li>PGT</li>
				<li>HGT</li>
				<li>IOT</li>
				<li>Command Task</li>
				<li>Snake race/Group Obstacle Race</li>
				<li>Individual lecture</li>
				<li>FGT</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>Personal Interview</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Conference</td>
			<td>-</td>
		</tr>
	</tbody>
</table>
	<div></br>
 <table>
  <tr>
    <th>Syllabus</th>
    <th>Download</th>
  </tr>
  <tr>
   <td>National Defence Academy and Naval academy Examinations</td>
   <td><a href="Notif-NDA-NA-I-2021-Engl-301220.pdf">Click here</a></td>
  </tr>
 </table>
</div>