<h1>Common Admission Test</h1>
<h2>CAT Exam Pattern 2021: Overview</h2>
<table>
    <tbody>
  <tr style="height: 29px;">
   <th style="height: 29px; width: 1139px;" colspan="2"> <p>CAT Exam Pattern 2021</p> </th>
  </tr>
  <tr style="height: 29px;">
   <td style="height: 29px; width: 617px;"> <p>Mode of CAT exam</p> </td>
   <td style="height: 29px; width: 505px;"> <p>Computer Based Test&nbsp;</p> </td>
  </tr>
  <tr style="height: 29px;">
   <td style="height: 29px; width: 617px;"> <p>Duration of exam</p> </td>
   <td style="height: 29px; width: 505px;">
    <ul>
     <li>120 minutes&nbsp;</li>
     <li>40 minutes per section</li>
    </ul></td>
  </tr>
  <tr>
   <td style="width: 617px;"> <p>CAT exam slots</p> </td>
   <td style="width: 505px;">
    <ul>
     <li>Morning: 8:30 AM to 10:30 AM</li>
     <li>Afternoon: 12:30 PM to 2:30 PM</li>
     <li>Evening: 4:30 PM to 6:30 PM</li>
    </ul></td>
  </tr>
  <tr style="height: 29px;">
   <td style="height: 29px; width: 617px;"> <p>Number of questions</p> </td>
   <td style="height: 29px; width: 505px;"> <p>66</p> </td>
  </tr>
  <tr style="height: 29px;">
   <td style="height: 29px; width: 617px;"> <p>Total marks</p> </td>
   <td style="height: 29px; width: 505px;"> <p>198</p> </td>
  </tr>
  <tr style="height: 29px;">
   <td style="height: 29px; width: 617px;"> <p>Language of question paper</p> </td>
   <td style="height: 29px; width: 505px;"> <p>English</p> </td>
  </tr>
  <tr style="height: 29px;">
   <td style="height: 29px; width: 617px;"> <p>Number of answer choices</p> </td>
   <td style="height: 29px; width: 505px;"> <p>4</p> </td>
  </tr>
  <tr>
   <td style="width: 617px;"> <p>Question Type</p> </td>
   <td style="width: 505px;"> <p>MCQ and non-MCQ</p> </td>
  </tr>
 </tbody>
</table>
<h2>CAT 2021 Exam Pattern - Overall and Sectional Time Limit</h2>
<table>
    <tbody>
  <tr>
   <th style="width: 51%;" width="51%"> <p><strong>CAT 2021 Section</strong></p> </th>
   <th style="width: 14%;" width="14%"> <p><strong>Questions</strong></p> </th>
   <th style="width: 17%;" width="17%"> <p><strong>Allotted Time</strong></p> </th>
   <th style="width: 17%;" width="17%"> <p><strong>Allotted Time for PwD Students</strong></p> </th>
  </tr>
  <tr>
   <td width="51%"> <p>Quantitative Aptitude (QA)</p> </td>
   <td width="14%"> <p>24</p> </td>
   <td width="17%"> <p>40 minutes</p> </td>
   <td width="17%"> <p>53 minutes and 20 seconds</p> </td>
  </tr>
  <tr>
   <td width="51%"> <p>Logical Reasoning &amp;&nbsp;Data Interpretation (LRDI)</p> </td>
   <td width="14%"> <p>20</p> </td>
   <td width="17%"> <p>40 minutes</p> </td>
   <td width="17%"> <p>53 minutes and 20 seconds</p> </td>
  </tr>
  <tr>
   <td width="51%"> <p>Verbal Ability and Reading Comprehension (VARC)</p> </td>
   <td width="14%"> <p>22</p> </td>
   <td width="17%"> <p>40 minutes</p> </td>
   <td width="17%"> <p>53 minutes and 20 seconds</p> </td>
  </tr>
  <tr>
   <td width="51%"> <p>Total</p> </td>
   <td width="14%"> <p>66</p> </td>
   <td width="17%"> <p>120 minutes</p> </td>
   <td width="17%"> <p>160 minutes</p> </td>
  </tr>
 </tbody>
</table>
<h2>CAT Exam Pattern 2021: Marking Scheme</h2>
<table>
    <tbody>
  <tr>
   <th style="width: 156px;" width="156"> <p>Sections</p> </th>
   <th style="width: 156px;" width="156"> <p>Number of Questions</p> </th>
   <th style="width: 156px;" width="156"> <p>Marks Per Question</p> </th>
   <th style="width: 156px;" width="156"> <p>Negative Marking (Only MCQ)</p> </th>
  </tr>
  <tr> 
   <td width="156"> <p>VARC</p> </td>
   <td width="156"> <p>24</p> </td>
   <td width="156"> <p>3</p> </td>
   <td width="156"> <p>-1</p> </td>
  </tr>
  <tr>
   <td width="156"> <p>DILR</p> </td>
   <td width="156"> <p>20</p> </td>
   <td width="156"> <p>3</p> </td>
   <td width="156"> <p>-1</p> </td>
  </tr>
  <tr>
   <td width="156"> <p>Quantitative Aptitude</p> </td>
   <td width="156"> <p>22</p> </td>
   <td width="156"> <p>3</p> </td>
   <td width="156"> <p>-1</p> </td>
  </tr>
  <tr>
   <td width="156"> <p>Total</p> </td>
   <td width="156"> <p>66</p> </td>
   <td width="156"> <p>198</p> </td>
   <td width="156"> <p>-</p> </td>
  </tr>
 </tbody>
</table>
<div>
    </br>
    <table>
        <tr>
            <th>Syllabus</th>
            <th>Download</th>
        </tr>
        <tr>
            <td>Common Admission Test</td>
            <td><a href="../../../exams/datafiles/cat.pdf">Click here</a></td>
        </tr>
    </table>
</div>
