@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*
{
	margin:0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.homepage{
    width: 100%;
    height: auto;
    position: relative;
}

.head{
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 85px;
    padding: 5px;
    padding-top: 0px;
    display: flex;
    border-bottom: 2px solid rgba(49, 45, 45, 0.479);

  
    
}

.logo{
    height: 85px;
    width: 100px;
    padding: 12px;
    margin-left: 50px;
    padding-right: 0px;
    

}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
    display: block;
    
}      

.title{
    font-size: 40px;
    font-weight: bolder;
    color: #1a73e8;
    padding: 5px;
    padding-top: 20px;
    text-shadow:white;
    width: 150px;
    height: 100%;
    text-shadow: 1px 1px 1px #879cd6,
                    1px 2px 1px #879cd6,
                    1px 3px 1px #879cd6;

}

/* Student profile */
.stdprofile{
    display: flex;
    padding:0px 25px 0px 25px;
    width: fit-content;
    margin-left: 740px;
   



}

.searchcontainer{
    width: 250px;
    height: 39px;
    margin: auto;
    margin-right: 35px;
    border-radius: 50px;
    position: relative;
    border: 3.5px solid #1a73e8;
    padding: 0px 10px;
}

.searchbox{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    font-size: 17px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;

}

.search:focus{
    outline: none;
}

td .material-icons{
    font-size: 26;
    color: #1a73e8;
}

.stdbtn{

    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-right: 10px;
    background-color: #1a73e8;
    color: white;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    
}

.stdbtn a{
    text-decoration: none;
    color: white;
    display: flex;
}

.stdbtn:hover{
    box-shadow: 0px 0px 2px 1px rgba(17, 39, 46, 0.5);
    background-color:#1c60c5;
}



header{
    border: 2px solid black;
    top: 0px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex
}

.title-container{
    flex: 1;
    height: 3rem;
    font-family: 'Poppins';
    text-align: center;
    padding: 0 2rem;
    color: #3552a1;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 3rem;
}

.bold{
    font-weight: bold;
    color: #091c36;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    margin: 0 0 0 4px;
}

.container{
    max-width: 80rem;
    padding: 0 2rem;
    border: 2px solid yellow;
    height: 3rem;
    margin: 0 auto;
    display: flex;
}

.logo-container{
    flex: 1; 
}

.nav-btn{
    font-family: 'Poppins', sans-serif;
    flex: 5;
    border: 2px solid green;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navlink{
    position: relative;
}
.navlink a i{
    display: flex;
    align-items: center;
    margin-left: .2rem;
    padding-top: 2px;

}

.navlink > a{
    line-height: 3rem;
    color:#091c36;
    padding: 0 .8rem;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.3s;
}

.navlink > a:hover{
    transform: scale(1.1);
}

/* Drop Down */
ul{
    list-style: none;
}

.dropdown{
    position:absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    border: 2px solid pink;
    height: auto;
    transform: translateY(8px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    transform: translateX(-35px);

}

.dropdown > ul{
    list-style: none;
    position: relative;

}


.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #1a73e8;
    text-decoration: none;
    padding: .5rem 13px;
    align-items: center;
    
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #1a73e8;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}
.dropdown-link i{
    transform: rotate(-90deg);
    

}

.dropdown-link a i{
    justify-content: center;
    right: 0;
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -4.5px;
    left:50%;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #1a73e8;
}

.dropdown2{
    width: fit-content;
    position: absolute;
    height: fit-content;
    margin-left: 78px;
    top: 0.02rem;
    padding-left: 0.5rem;
    opacity: 0;
    transition: .5s;
    transform: translateX(8px);
    
}

.dropdown2 .arrow{
left: 2.8rem;
top: 12px;
}

.navlink:hover > .dropdown,
.dropdown-link:hover > .dropdown2
{
    transform: translate(0. 0);
    opacity: 1;
    pointer-events: auto;
}


/* home page intro image */



.introimg{
    width: auto;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #424242;
    background-color: rgba(0, 0, 0, 0.2);


}


.ptufull{
    height: fit-content;
    width: auto;
}
.title1{
    height: fit-content;
    width: fit-content;
    margin: auto;

}
.subtitle{
    height: fit-content;
    width: fit-content;
    margin: auto;

}

.title1 h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bolder;
    color:snow;
    text-shadow: 1px 1px 1px #141313,
                    1px 2px 1px #141313,
                    1px 3px 1px #141313,
                    1px 4px 1px #141313,
                    1px 5px 1px #141313,
                    1px 6px 1px #141313,
                    1px 7px 1px #141313,
                    1px 8px 1px #141313,
                    1px 9px 1px #141313,
                    1px 10px 1px #141313;
}
.subtitle h3{
    font-weight: bolder;
    letter-spacing: 1.5px;
    color:snow;
    text-shadow: 1px 1px 1px #141313,
                    1px 2px 1px #141313,
                    1px 3px 1px #141313,
                    1px 4px 1px #141313,
                    1px 5px 1px #141313,
                    1px 6px 1px #141313,
                    1px 7px 1px #141313,
                    1px 8px 1px #141313;
}

.wholebg{
    background-image: url("ptubg.jpg");
    background-size: cover;
    background-size: 100% 100%;
}

/* main content */

.main{
    position: relative;
    height: auto;
    background-color: rgba(0, 0, 0, 0.01);
    /*display: flex;*/
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgb(255,255,255);
    
    
}

.content-intro{
    border: 2px solid black;
    height: 250px;

}

.first-service{
    height: 300px;
    background-color: #fff;
    
}

.first-service-bottom{
    height: 300px;
    background-color: #f2f2f2;
    border-bottom: 1.5px solid #ebe8e8;
    border-top: 1.5px solid #ebe8e8;
    
    
}

.second-service{
    /*border:  2px solid orange;*/
    height: 720px;
    margin-top: 50px;
    background-color: rgb(255,255,255);
    
}

.service-div{
    padding-left: 50px;
    padding-right: 50px;
    height: fit-content;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
}

.wrapper{
    display: grid;
    margin: 10px 0px auto;
    grid-gap:0px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.wrapper .box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    box-shadow: 0px 15px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
    border-radius: 2%;
    

    height: 300px;

}

.wrapper .box .front-face{
    background-color: rgba(0, 0, 0, 0.08);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2%;
    box-shadow: 0px 15px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .front-face span,
.box .back-face span{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    
}
.box .front-face span{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}

.box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    /*background: linear-gradient(-135deg, #4ca9d4, #334fd8);*/
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    z-index: 1;
    height: 300px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translateY(10px) rotateX(-9deg);
    transition: all 0.5s ease;
    
}

.box .back-face p{
    margin-top: 10px;
    text-align: justify;
}

.box:hover .back-face{
    opacity: 1;
    transform: rotateX(0deg);
}
.box:hover .front-face{
    opacity: 0;
    transform: translateY(-10px) rotateX(9deg);
}


/* Disussion Forum */

.forum-head{
    width: 100%;
    height: 13%;
    display: flex;

}
.forum-head div{

    position: relative;

}

.line1{
    flex: 1.5;
}

.line2{
    flex: 2;

    
}

.line3{
    flex: 1.5;
    
}

.line1 div, .line3 div{
    background-color: #1a73e8;
    height: 4px;
    width: 250px;
    top: 50%;
}
.line1 div{
    margin-left: 45%;
}

.line2 div{
   
    font-weight: 550;
    font-size: 44px;
    width: fit-content;
    transition: 1s ease;
    color: #202124;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
    word-spacing: 4.5px;
    text-align: center;
    top: 20%;
    margin: auto;
}


.forum-content{
    width: 100%;
    height: 87%;
    display: flex;
    margin-top: 20px;
}

.forum-detail{
    /*border: 2px solid black;*/
    height: 100%;
    flex: 2.2;
}

.detail-heading{
    height: auto;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 15px;
    margin-top: 42px;
    font-weight: 300;
    padding: 10px 30px 10px 60px;
}

.forum-detail > p{
    font-size: 19px;
    font-family: "Monteserat",Arial, Helvetica, sans-serif;
    color: #424242;
    padding: 0px 30px 0px 60px;
    text-transform: uppercase;
    height:fit-content;
    position: relative;
}

.forum-info{
    position: relative;
    height: auto;
    padding: 10px 30px 10px 60px;
    margin-top: 35px; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 26px;
    color: #5f6368;
    font-size: 17px;
    letter-spacing: 1px;
    
}

.forum-detail table{
    margin-top: 17px;
    height: fit-content;
    padding: 10px 30px 10px 50px; 
}

.forum-detail td{
    width: fit-content;
    font-family: 'Noto Sans KR', 'Roboto', Arial, Helvetica, sans-serif;
    color: #1967d2;
    font-size: 19px;
    padding: 8px;
    text-align: center;
    transition: color .15s;
}

.forum-detail button{
    height: fit-content;
    width: fit-content;
    margin-left: 70px;
    margin-top: 60px;
    font-size: 18px;
    background-color: #1a73e8;
    padding: 11px 20px;
    border: none;
    pointer-events: auto;
    
}
.forum-detail button a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.forum-img{
    flex: 2;
    padding: 40px;
    padding-bottom:80px;

}

.forum-detail button:hover{
    background-color: #1967d2;
    transform: scale(1.02);
    transition: 0.1s;
}



/* libraries */

.third-service-top{
    height: 480px;
    margin-top: 40px;
    padding-top: 50px;
    border-top: 2px solid #e6e2e2;
}

.third-service-middle{
    height: 840px;
    background: linear-gradient(-135deg, #8a5fdb, #3ac0c0);
}

.third-service-bottom{
    height: 380px;
    border-bottom: 2px solid #e6e2e2;
}

.wrapper2{
    height: 450px;
    display: flex;
    width: 100%;
}

.lib-box{
    height: auto;
    flex: 1;
    margin-right:70px;
    margin-left: 20px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease;
    border-radius: 30px;
}

.lib-box:hover{
    transition: all 0.5s ease;
    cursor: pointer;
    transform: scale(1.103);
    border-radius: 30px;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.middle-head{
    border: 2px solid hotpink;
    height: 100px;
    position:relative;
    margin: 130px 0px;
}



/*  ATAL  */

.atal{
    height: 500px;
}



/* Footer */

#footer{
    height: 350px;
    position: relative;
    background-color: #222727;
}