<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PTU</title>
        <link rel="stylesheet" href="home1.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="homepage">
            <div class="head">
                <div class="logo">
                    <a href="home.html">
                    <img src="PEC_logo.png">
                    </a>
                </div>
                <div class="title">
                    PTU
                </div>
                <div class="stdprofile">
                    <div class="searchcontainer">
                        <table class="searchbox">
                            <tr>
                                <td>
                                    <input type="text" placeholder="Search" class="search">
                                </td>
                                <td>
                                    <a href="#"><span class="material-icons">search</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button type="button" class="stdbtn">
                        <a href="/login">
                            <span class="stdbtn_txt" style="padding-right: 7px;">Profile </span>
                            <span class="material-icons">
                                account_circle
                            </span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="wholebg">
                <header>
                    <div class="title-container">
                        <h2>My<span class="bold">PTU</span></h2>
                    </div>
                    <div class="container">
                        <div class="logo-container"></div>
                        <div class="nav-btn">
                            <div class="nav-links">
                                <ul>
                                    <li class="navlink">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="navlink">
                                        <a href="#">About<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">About-PTU<i class="fas fa-caret-down"></i></a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Campus life</p></a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Hostel</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Library</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Sports</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="navlink">
                                        <a href="#">Departments<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Engineering<i class="fas fa-caret-down"></i></a>
                                                    <div class="dropdown2">
                                                        <ul>
                                                            <li class="dropdown-link">
                                                                <a href="#">Computer Science</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Information Technology</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Electronics & Communication</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Electrical & Electronics</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Mechatronics</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Mechanical</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Chemical</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Civil</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Instrumentation</a>
                                                            </li>
                                                            <div class="arrow"></div>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Science<i class="fas fa-caret-down"></i></a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Research<i class="fas fa-caret-down"></i></a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="navlink">
                                        <a href="#">Clubs<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">NCC</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">NSS</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">DSC</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="navlink">
                                        <a href="#">Placement</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="introimg">
                    <div class="ptufull">
                        <div class="title1">
                            <a href="http://www.pec.edu/" style="text-decoration: none;">
                                <h1>PUDUCHEERY TECHNOLOGICAL UNIVERSITY</h1>
                            </a>
                        </div>
                        <div class="subtitle">
                            <h3>(A Technological University of Government of Puducherry)</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="contenttext">
                    <div class="pectext">
                        <p><h3>P</h3>ondicherry Engineering College is an Institution promoted and fully funded by the Government of Puducherry. The College was started in 1984 under the VII Five Year Plan. It is an autonomous Institution for the purposes of administration, staff recruitment and College development and is managed by a Board of Governors. The College is affiliated to Pondicherry University, Pondicherry, for the academic purposes. The College has been growing from strength to strength since its inception. PEC is ranked 122 in Engineering Category by NIRF India Rankings 2020.</p>
                    </div>
                </div>
                <div class="news">

                </div>
            </div>
        </div>

        <script src="home_resp.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>   
 </html>   