<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <div>
        <h3>Hello {{ name }}!</h3>
        <p>Your Account has been created successfully! <br>We have sent a confirmation mail to your registered email, please verify your email in order to activate your account.</p>
      </div>
        <button type="button" value="Gmail">Gmail
            <a href='https://mail.google.com/'></a>
        </button>
        
        <script src="" async defer></script>
    </body>
</html>