<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Studend Registeration</h3>

    <form action="/signup" method="POST">
    {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="" Required>
        <br>

        <label for="">First Name</label>
        <input type="text" id="fname" name="fname" placeholder="" Required>
        <br>
        
        <label for="">Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="" Required>
        <br>
        
        <label for="">Email</label>
        <input type="email" id="email" name="email" placeholder="pec email" Required>
        <br>
        
        <label for="">Date of Birth</label>
        <input type="date" id="dob" name="dob" placeholder="" Required>
        <br>
        
        <label for="">Program</label>
        <input type="text" id="program" name="program" placeholder="Btech/Mtech" Required>
        <br>
        
        <label for="">Year of Graduation</label>
        <input type="number" id="year" name="year" placeholder="" Required>
        <br>
        
        <label for="">Department</label>
        <input type="text" id="dept" name="dept" placeholder="" Required>
        <br>
        
        <label for="">Section</label>
        <input type="number" id="sec" name="sec" placeholder="" Required>
        <br>
        
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="" Required>
        <br>
        
        <label for="">Confirm Password</label>
        <input type="password" id="pass2" name="pass2" placeholder="" Required>
        <br>
        
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
